---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import hero from "../assets/milky-way.png";
const optimizedBackground = await getImage({ src: hero, format: "webp" });
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout title="Home of Frank Stallone II">
  <div
    class="bg-cover bg-center bg-blend-overlay py-l-xl text-orange-vivid-100 bg-orange-900"
    style={`background-image: url(${optimizedBackground.src}), linear-gradient(rgba(61, 35, 29, 0.025), rgba(61, 35, 29, 0.75));`}
  >
    <Header />
    <div class="wrapper region" style="--wrapper-max-width: 65ch;">
      <h1>Frank's Anything Goes Corner</h1>
      <p>
        Articles about people, places, and things, science, cosmology,
        literature, history, the arts, philosophy, psychology and the news as
        such. &#8220;Anything Goes&#8221; strives to be an informative and
        entertaining column.
      </p>
    </div>
  </div>
  <main class="wrapper" id="main" style="--wrapper-max-width: 65ch;">
    {
      allPosts.map((post) => (
        <div class="region">
          <div class="box flow prose border-4 border-orange-vivid-300">
            <h2>
              <a href={`/${post.slug}/`}>{post.data.title}</a>
            </h2>
            <p class="mt-2xs">
              <small class="font-mono text-orange-700 text-step-00">
                <span class="py-3xs">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    fill="currentColor"
                    class="icon"
                  >
                    <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                  </svg>
                  {new Date(post.data.publishDate).toLocaleDateString(
                    undefined,
                    {
                      weekday: "long",
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    }
                  )}
                </span>
              </small>
            </p>
            <p>{post.data.description}</p>
            <p>
              <a href={`/${post.slug}/`}>Read more &hellip;</a>
            </p>
          </div>
        </div>
      ))
    }
  </main>
</Layout>
